body {
    margin: 0;
    padding: 0;
    background-image: url('../res/backgroundLogIn.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

h3 {
    margin: 30px 0px 30px 0px;
    color: rgb(45, 183, 218);
    font-size: 27px;
    text-align: center;
}

.log-in-form {
    width: 340px;
    height: 410px;
    background: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
}

.log-in-inputs {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-footer {
    margin-top: 25px;
    padding: 28px;
    text-align: center;
    display: block;
    font-size: 18px;
    color: #878797;
    font-weight: 100;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-left-color: rgb(45, 183, 218);
    border-right-color: rgb(45, 183, 218);
    border-bottom-color: rgb(45, 183, 218);
}

.log-in-btn-position {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-primary {
    border-radius: 10px;
    font-size: 20px;
    height: 45px;
    border: none;
    background-color: rgb(45, 183, 218);
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(33, 109, 209, 0.6) 100%) !important;
}

.border-primary {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(45, 183, 218);
}