<navigation></navigation>

<div class="container-fluid" id="mainContent">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" id="leftColumn">
      <div class="thumbnail profileThumbnail profilePreview" id="profileView">
        <h4 id="profileTitle">Profile Username</h4>
        <div class="rating" id="userPreviewRating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Faculty of Computer and Information Science</p>
        <p>BA. in Computer Science</p>
      </div>

      <h4 class="centered-h4">Reviews (1):</h4>
      <a href="addReview.html" class="addReviewButton">Add Review</a>
      <div class="totalAdPanel">
        <div class="panel panel-default adPanel">
          <div class="panel-heading">
            <h3 class="panel-title reviewTitle" id="adTitle">User - 12/12/2018
              <span id="adPrice">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </h3>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet aliquam lacus. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" id="rightColumn">
      <h4 class="centered-h4">Active posted lectures:</h4>

      <div class="totalAdPanel">
        <div class="extraHeading"><span id="userPublisher"><a href="profileTutor.html">Tutor</a><span class="date"> -
              05/11/2018</span></span></div>
        <div class="panel panel-default listingPanel">
          <div class="panel-heading">
            <h3 class="panel-title" id="adTitle">Learn Linear Algebra!<span id="adPrice"><button type="button" class="btn btn-primary"
                  id="requestTutorBtn" data-toggle="modal" data-target="#sendRequest"><span class="buttonTextRequest">Send
                    Request </span><i class="far fa-share-square"></i></button></span></h3>
          </div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet aliquam lacus. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Integer fermentum nulla ut nulla lacinia vulputate. Vivamus dictum
              ornare congue. Donec risus est, aliquet sed facilisis nec, varius dapibus odio. Sed a tincidunt leo. Ut
              vulputate sit amet arcu et vestibulum. Quisque ut facilisis enim. Nunc vitae lorem ornare, hendrerit
              dolor a, pellentesque nulla...<a href="#">Read More</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<foot></foot>