extends layout
include _includes/skupneHTMLfunkcije.pug

block content

    #mainContent.container-fluid
      h4#addReviewTitle Add a review:
      .addReviewContainer
        .row
          form
            #leftColumnTextArea.col-xl-9.col-lg-9.col-md-8.col-sm-8.col-xs-6
              .textareacontainer
                textarea#textAreaComment(placeholder='Leave a review.')
            #rightColReview.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-xs-6
              .customRow
                #chooseRating.customColumn
                  label.labl
                    input(type='radio' name='radioname' value='one_value')
                    .starButton
                      | 1 
                      i.fas.fa-star
                  label.labl
                    input(type='radio' name='radioname' value='one_value')
                    .starButton
                      | 2 
                      i.fas.fa-star
                  label.labl
                    input(type='radio' name='radioname' value='one_value')
                    .starButton
                      | 3 
                      i.fas.fa-star
                  label.labl
                    input(type='radio' name='radioname' value='one_value')
                    .starButton
                      | 4 
                      i.fas.fa-star
                  label.labl
                    input(type='radio' name='radioname' value='one_value' checked='checked')
                    .starButton
                      | 5 
                      i.fas.fa-star
                button#submitReview.customColumn(type='submit')
                  i.far.fa-share-square