extends layout

include _includes/skupneHTMLfunkcije.pug

block content
  
  #toggleNavContainer.container
  ul.nav.nav-tabs.nav-custom.nav-justified
    li.active(role='presentation')
      a(href='index.html') Lectures
    li(role='presentation')
      a(href='indexTutor.html') Student&apos;s requests

  #mainContent.container-fluid
    .row
      #leftColumn.col-xl-4.col-lg-4.col-md-4.col-sm-4
        .thumbnail.profileThumbnail(stlye='margin-top:200px')
          h4#profileTitle= user.username
          p Rating: 
            span.rating
              +showRating(user.rating)
          p Last time online: 14:43 06/10/2018
        .thumbnail.upcomingEvents
          h4#upcomingEvents Upcoming Events
          ul#upcomingEventsList
            li
              a(href='#') Learn Linear Algebra!, 9/12/2019 at 17:45
            li
              a(href='#') JAVA programming, 10/12/2019 at 12:45
            li
              a(href='#') Fun times with prof. Mur, 22/12/2019 at 9:00
            li
              a(href='#') Learn Linear Algebra!, 28/12/2019 at 14:30
        .thumbnail.upcomingEvents
          h4#upcomingEvents Pending Requests
          ul#upcomingEventsList
            li
              p
                | Learn Linear Algebra! - TutorUsername - 
                span.statusPending Pending
            li
              p
                | JAVA programming - TutorUsername - 
                span.statusPending Pending
            li
              p
                | Learn Linear Algebra! - TutorUsername - 
                span.statusDenied
                  | Denied 
                  a.far.fa-trash-alt(href='#' title='Remove from list')
        #dailyQuote.thumbnail
          h4 Daily Quote
          p
            | &ldquo;Winners embrace hard work. They love the discipline of it, the trade-off they&rsquo;re making to win. Losers, on the other hand, see it as punishment. And that&rsquo;s the difference.&rdquo;
          p - Lou Holtz
      
      #rightColumn.col-xl-8.col-lg-8.col-md-8.col-sm-8
        #searchTutor.container-fluid.container-jumbotron
          h3 Search available tutors here:
          .input-group
            input.form-control(type='text' placeholder='Search for...')
            span.input-group-btn
              button#btnSearch.btn.btn-default(type='button') Go!

        .totalAdPanel
          .extraHeading
            span#userPublisher
              a(href='profileTutor.html') Tutor
              span.date  - 05/11/2018
          .panel.panel-default.listingPanel
            .panel-heading
              h3#adTitle.panel-title Learn Linear Algebra!
                span#adPrice
                  button#requestTutorBtn.btn.btn-primary(type='button' data-toggle='modal' data-target='#sendRequest')
                    span.buttonTextRequest Send Request 
                    i.far.fa-share-square
            .panel-body
              p Panel content    
          
        

