doctype html
html
  head
    title Log In
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    // Font Awesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
    // Bootsrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // Styles
    link(rel='stylesheet', type='text/css', href='/stylesheets/logIn.css')
  body
    .container
      .row
        .col-sm-offset-2.col-sm-8.col-md-offset-4.col-md-4.col-xs-12
          .log-in-form.panel.panel-default
            h3 Log in to your account
            form(action='index.html')
              .input-group.log-in-inputs
                span.input-group-addon
                  span.glyphicon.glyphicon-user
                input.form-control.left-border-none.input-lg(name='username', placeholder='Username or email', type='text', tabindex='1', required='', oninvalid="this.setCustomValidity('Please enter username.')", oninput="this.setCustomValidity('')")
              .input-group.log-in-inputs
                span.input-group-addon
                  span.glyphicon.glyphicon-lock
                input.form-control.left-border-none.input-lg(name='password', placeholder='Password', type='password', tabindex='2', required='', oninvalid="this.setCustomValidity('Please enter password.')", oninput="this.setCustomValidity('')")
              .log-in-btn-position
                button.btn.btn-primary.btn-block.btn-hover.btn-click(type='submit') Log In
            div
              a.panel-footer(href='signUp.html') Not a part of tutke.io yet? Sign Up
    
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
