<navigation></navigation>

<div role="alert" ng-if="vm.msgError" class="alert alert-danger alert-message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p> {{ vm.msgError }} </p>
</div>
<div role="alert" ng-if="vm.msgSuccess" class="alert alert-success alert-message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p> {{ vm.msgSuccess }} </p>
</div>
<div role="alert" ng-if="vm.msgInfo" class="alert alert-info alert-message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p> {{ vm.msgInfo }} </p>
</div>

<div class="container-fluid" id="mainContent">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" id="leftColumn">
      <div class="thumbnail profileThumbnail profilePreview" id="profileView">
        <h4 id="profileTitle"> {{ vm.previewedUser.username }} </h4>
        <div class="rating" id="userPreviewRating">
          <span ng-repeat="i in [0, 1, 2, 3, 4]">
            <i ng-if="vm.previewedUser.rating > i" class="fas fa-star"></i>
            <i ng-if="vm.previewedUser.rating < i+1" class="far fa-star"></i>
          </span>
        </div>
        <p> {{ vm.previewedUser.teachingInstitution }} </p>
        <p> {{ vm.previewedUser.educationLevel }} </p>
      </div>

      <h4 class="centered-h4">Reviews ({{vm.previewedUser.comments.length}}):</h4>
      <a ng-click="vm.showAddReviewPopUp()" class="addReviewButton">Add Review</a>
      <div class="totalAdPanel" ng-repeat="comment in vm.previewedUser.comments">
        <div class="panel panel-default listingPanel">
          <div class="panel-heading">
            <h3 class="panel-title reviewTitle" id="adTitle">{{ comment.author.username }} - {{comment.createdAt | date: 'd/MM/yyyy H:mm'}}
              <span id="adPrice">
                <div class="rating" id="userPreviewRating">
                  <span ng-repeat="i in [0, 1, 2, 3, 4]">
                    <i ng-if="comment.rating > i" class="fas fa-star"></i>
                    <i ng-if="comment.rating < i+1" class="far fa-star"></i>
                  </span>
                </div>
              </span>
            </h3>
          </div>
          <div class="panel-body">
            <p>{{ comment.commentText }}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" id="rightColumn">
      <h4 class="centered-h4">Active posted lectures:</h4>

      <h3 ng-if="vm.previewedUser.postedLectures.length === 0" style="padding-left: 15px">No lectures found.</h3>
      <div class="totalAdPanel" ng-repeat="postedLecture in vm.previewedUser.postedLectures">
        <div class="extraHeading"><span id="userPublisher"><a>{{vm.previewedUser.username}}</a><span class="date"> - {{ postedLecture.createdAt | date: 'd/MM/yyyy H:mm' }}</span></span></div>
        <div class="panel panel-default listingPanel">
          <div class="panel-heading">
            <h3 class="panel-title" id="adTitle">{{ postedLecture.title }}<span id="adPrice"><button type="button" class="btn btn-primary"
                  id="requestTutorBtn" data-toggle="modal" data-target="#sendRequest"><span class="buttonTextRequest">Send
                    Request </span><i class="far fa-share-square"></i></button></span></h3>
          </div>
          <div class="panel-body">
            <p>{{ postedLecture.description }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<foot></foot>