<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 col-xs-12">
      <div class="log-in-form panel panel-default">
          <h3 class="titleLogin">Admin console</h3>
          <div class="log-in-btn-position">
            <button ng-click="vm.dropDb()" id="dropDbBtn" class="btn btn-primary btn-block btn-hover btn-click">Drop database</button>
          </div>
          <div class="log-in-btn-position">
            <button  ng-click="vm.initDb()" id="loginBtn" class="btn btn-primary btn-block btn-hover btn-click">Init database</button>
          </div>
          <div role="alert" ng-if="vm.msgError" class="alert alert-danger alert-message-log-in">{{ vm.msgError }}</div>
          <div role="alert" ng-if="vm.msgSuccess" class="alert alert-success alert-message-log-in">{{ vm.msgSuccess }}</div>
      </div>
    </div>
  </div>
</div>