<navigation></navigation>

<div class="container" id="toggleNavContainer">
  <ul class="nav nav-tabs nav-custom nav-justified">
      <li role="presentation" class="active"><a href="/"></a>Lectures</a></li>
      <li role="presentation"><a href="/">Student's requests</a></li>
    </ul>
</div>
<div class="container-fluid" id="mainContent">
  <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4" id="leftColumn">
              <div  class="thumbnail profileThumbnail"  stlye="margin-top:200px">
                  <h4 id="profileTitle">Profile</h4>
                  <p>Rating:
                      <span class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                      </span> 
                  </p>
                  <p>Last time online: 14:43 06/10/2018</p>
              </div>
              <div class="thumbnail upcomingEvents">
                      <h4 id="upcomingEvents">Upcoming Events</h4>
                      <ul id="upcomingEventsList">
                          <li>
                              <a href="#">Learn Linear Algebra!, 9/12/2019 at 17:45</a>
                          </li>
                          <li>
                              <a href="#">JAVA programming, 10/12/2019 at 12:45</a>
                          </li>
                          <li>
                              <a href="#">Fun times with prof. Mur, 22/12/2019 at 9:00</a>
                          </li>
                          <li>
                              <a href="#">Learn Linear Algebra!, 28/12/2019 at 14:30</a>
                          </li>
                      </ul>
              </div>
              <div class="thumbnail upcomingEvents">
                      <h4 id="upcomingEvents">Pending Requests</h4>
                      <ul id="upcomingEventsList">
                          <li>
                              <p>Learn Linear Algebra! - TutorUsername - <span class="statusPending">Pending</span></p>
                          </li>
                          <li>
                              <p>JAVA programming - TutorUsername - <span class="statusPending">Pending</span></p>
                          </li>
                          <li>
                              <p>Learn Linear Algebra! - TutorUsername - <span class="statusDenied">Denied <a href="#" class="far fa-trash-alt" title="Remove from list"></a></span></p>
                          </li>
                      </ul>
              </div>
              <div class="thumbnail" id="dailyQuote">
                  <h4>Daily Quote</h4>
                  <p>“Winners embrace hard work. They love the discipline of it, the trade-off they’re making to win. Losers, on the other hand, see it as punishment. And that’s the difference.”</p>
                  <p>- Lou Holtz</p>
              </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="rightColumn">
        <div class="container-fluid container-jumbotron" id="searchTutor">
            <h3 style="padding-left: 15px">Search available lectures:</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>
        <div class="totalAdPanel">
            <div class="extraHeading"><span id="userPublisher"><a href="profileTutor.html">Tutor</a><span class="date"> - 05/11/2018</span></span></div>
            <div class="panel panel-default adPanel">
                <div class="panel-heading">
                    <h3 class="panel-title" id="adTitle">Learn Linear Algebra!<span id="adPrice"><button type="button" class="btn btn-primary" id="requestTutorBtn" data-toggle="modal" data-target="#sendRequest"><span class="buttonTextRequest">Send Request </span><i class="far fa-share-square"></i></button></span></h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet aliquam lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum nulla ut nulla lacinia vulputate. Vivamus dictum ornare congue. Donec risus est, aliquet sed facilisis nec, varius dapibus odio. Sed a tincidunt leo. Ut vulputate sit amet arcu et vestibulum. Quisque ut facilisis enim. Nunc vitae lorem ornare, hendrerit dolor a, pellentesque nulla...<a href="#">Read More</a></p>
                </div>
            </div>
        </div> 
      </div>
  </div>
</div> 

<a href="#" class="float" data-toggle="modal" data-target="#addListing">
  <i class="fa fa-plus my-float"></i>
</a>
<div class="label-container">
  <div class="label-text">Add a New Request</div>
  <i class="fa fa-play label-arrow"></i>
</div>


<!-- pagination -->
<div class="text-center">
  <nav aria-label="Page navigation">
      <ul class="pagination">
          <li>
          <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
          <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
          </li>
      </ul>
  </nav>
</div>
<!-- end of pagination -->

<foot></foot>