<navigation></navigation>

<div class="container" id="toggleNavContainer">
  <ul class="nav nav-tabs nav-custom nav-justified">
      <li ng-click="vm.changeLectureType('posted')" role="presentation" ng-class="{'active': vm.pagination.lectureType === 'posted'}"><a href="/">Lectures</a></li>
      <li ng-click="vm.changeLectureType('requested')" role="presentation" ng-class="{'active': vm.pagination.lectureType === 'requested'}"><a href="/">Student's requests</a></li>
    </ul>
</div>
<div class="container-fluid" id="mainContent">
  <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4" id="leftColumn">
              <div role="alert" ng-show="!vm.isLoggedIn" class="alert alert-info"> Please log in to see profile info. </div>
              <div ng-if="vm.isLoggedIn" class="thumbnail profileThumbnail"  stlye="margin-top:200px">
                  <h4 id="profileTitle">Logged in as {{ vm.user.firstName }} {{ vm.user.lastName }}</h4>
                  <p>Rating:
                      <span class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                      </span> 
                  </p>
                  <p>Username: {{ vm.user.username }}</p>
                  <p ng-if="vm.user.role === 'tutor'">Posted lectures: {{ vm.user.postedLectures.length }}</p>
                  <p ng-if="vm.user.role === 'student'">Posted requests: {{ vm.user.postedLectures.length }}</p>
                  <p>User since: {{ vm.user.createdAt | date: 'd. MMMM, yyyy' }}</p>
              </div>
              <div ng-if="vm.isLoggedIn" class="thumbnail upcomingEvents">
                    <h4 id="upcomingEvents">Pending Requests</h4>
                    <ul id="upcomingEventsList">
                        <h4 ng-if="vm.user.lecturesRequests.length === 0" id="profileTitle">No pending requests.</h4>
                        <li ng-if="vm.user.lecturesRequests.length > 0 && vm.user.role === 'tutor'" ng-repeat="request in vm.user.lecturesRequests | getFilteredStudentsRequests">
                            <p>{{ request.lecture.title }} - from {{ request.student.username }}<br><button class="acceptDeny" id="acceptRequest">Accept</button><button class="acceptDeny" id="denyRequest">Deny</button></p>
                        </li>
                        <li ng-if="vm.user.lecturesRequests.length > 0 && vm.user.role === 'student'" ng-repeat="request in vm.user.lecturesRequests | getFilteredTutorsRequests">
                            <p>{{ request.lecture.title }} - from {{ request.tutor.username }}<br><button class="acceptDeny" id="acceptRequest">Accept</button><button class="acceptDeny" id="denyRequest">Deny</button></p>
                        </li>
                    </ul>
              </div>
              <div ng-if="vm.isLoggedIn" class="thumbnail upcomingEvents">
                      <h4 id="upcomingEvents">Upcoming Events</h4>
                      <ul id="upcomingEventsList">
                          <li>
                              <a href="#">Learn Linear Algebra!, 9/12/2019 at 17:45</a>
                          </li>
                      </ul>
              </div>
              <div class="thumbnail" id="dailyQuote">
                  <h4>Daily Quote</h4>
                  <p>“Winners embrace hard work. They love the discipline of it, the trade-off they’re making to win. Losers, on the other hand, see it as punishment. And that’s the difference.”</p>
                  <p>- Lou Holtz</p>
              </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="rightColumn">
        <div class="container-fluid container-jumbotron" id="searchTutor">
            <h3 style="padding-left: 15px">Search available lectures:</h3>
            <div class="input-group">
                <input ng-model="vm.pagination.search" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button ng-click="vm.doSearch()" class="btn btn-default" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>
        <h3 ng-if="vm.lectures.length === 0" style="padding-left: 15px">No lectures found.</h3>
        <div ng-if="vm.lectures.length > 0" class="totalAdPanel" ng-repeat="lecture in vm.lectures">
            <div class="extraHeading"><span id="userPublisher"><a ng-href="/user/{{lecture.author._id}}">{{ lecture.author.username }}</a><span class="date"> - {{ lecture.createdAt | date: 'd. MMMM, yyyy' }}</span></span></div>
            <div class="panel panel-default listingPanel">
                <div class="panel-heading">
                    <h3 class="panel-title" id="adTitle">{{ lecture.title }}<span id="adPrice"><button type="button" class="btn btn-primary" id="requestTutorBtn" data-toggle="modal" data-target="#sendRequest"><span class="buttonTextRequest">Send Request </span><i class="far fa-share-square"></i></button></span></h3>
                </div>
                <div class="panel-body">
                    <p>{{ lecture.description }}</p>
                </div>
            </div>
        </div> 
      </div>
  </div>
</div> 

<a href="#" class="float" data-toggle="modal" data-target="#addListing">
  <i class="fa fa-plus my-float"></i>
</a>
<div class="label-container">
  <div class="label-text">Add a New Request</div>
  <i class="fa fa-play label-arrow"></i>
</div>


<!-- pagination -->
<div class="text-center">
  <nav aria-label="Page navigation">
      <ul class="pagination">
          <li>
          <a ng-click="vm.changePage(false)" ng-class="{'disabled': vm.pagination.page === 0}" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
          </li>
          <li><a>{{ vm.pagination.page + 1 }}</a></li>
          <li>
          <a ng-click="vm.changePage(true)" ng-class="{'disabled': vm.lectures.length < 10}" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
          </li>
      </ul>
  </nav>
</div>
<!-- end of pagination -->

<foot></foot>