<div class="container-fluid" id="mainContent">
  <button type="button" ng-click="vm.commentPopUp.cancelAddComment()" class="close">
    <span aria-hidden="true">x</span><span class="sr-only">Close</span>
  </button>
  <h4 id="addReviewTitle">Add a review for {{ vm.userPreviewData.username }}:</h4>
  <div class="addReviewContainer">
    <div class="row">
      <form>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-6" id="leftColumnTextArea">
          <div class="textareacontainer">
            <textarea placeholder="Leave a review." id="textAreaComment" ng-model="vm.podatkiObrazca.naziv" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-6" id="rightColReview">
          <div class="customRow">
            <div id="chooseRating" class="customColumn">
              <label class="labl">
                <input type="radio" name="rating" value="1" />
                <div class="starButton">1 <i class="fas fa-star"></i></div>
              </label>
              <label class="labl">
                <input type="radio" name="rating" value="2" />
                <div class="starButton">2 <i class="fas fa-star"></i></div>
              </label>
              <label class="labl">
                <input type="radio" name="rating" value="3" />
                <div class="starButton">3 <i class="fas fa-star"></i></div>
              </label>
              <label class="labl">
                <input type="radio" name="rating" value="4" />
                <div class="starButton">4 <i class="fas fa-star"></i></div>
              </label>
              <label class="labl">
                <input type="radio" name="rating" value="5" checked="checked" />
                <div class="starButton">5 <i class="fas fa-star"></i></div>
              </label>
            </div>
            <button type="submit" id="submitReview" class="customColumn"><i class="far fa-share-square"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>