<!DOCTYPE html>
<head>
    <title>Log In</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../styles/logIn.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 col-xs-12">
                <div class="log-in-form panel panel-default">
                    <h3>Log in to your account</h3>
                    <form>
                        <div class="input-group log-in-inputs">
                            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
                            <input name="username" class="form-control left-border-none input-lg" placeholder="Username or email" type="text" tabindex="1" 
                                required oninvalid="this.setCustomValidity('Please enter username.')" 
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="input-group log-in-inputs">
                            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock"></span></span>
                            <input name="password" class="form-control left-border-none input-lg" placeholder="Password" type="password" tabindex="2" 
                                required oninvalid="this.setCustomValidity('Please enter password.')" 
                                oninput="this.setCustomValidity('')">
                        </div>
                        <div class="log-in-btn-position">
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </div>
                    </form>
                    <div>
                        <a class="panel-footer" href="signUp.html">Not a part of tutke.io yet? Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>